@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using TimeTrack.Client.Components

<PageTitle>Time Tracker</PageTitle>


Welcome to Time Tracker
<AuthorizeView>
    <Authorized>
        <RecentActivity />
    </Authorized>
    <NotAuthorized>
        <p><a href="/login">Log in</a></p>
    </NotAuthorized>
</AuthorizeView>
