@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar>
        <AuthorizeView>
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        </AuthorizeView>
        <span>Time Tracker</span>
        <MudSpacer />
        <p class="links">
            <AuthorizeView>
                <Authorized>
                    <a href="/logout">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Log in</a>
                    <a href="/register">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </p>
        
    </MudAppBar>
    <AuthorizeView>
        <MudDrawer @bind-Open="@_drawerOpen">
            <NavLinks />
        </MudDrawer>
    </AuthorizeView>
    
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}

